$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;
$nord-unfocused: #8e95a4;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: 'Symbols Nerd Font Mono', Montserrat, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

//Global Styles
.bar {
  background-color: $nord1;
  color: $nord4;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  color: #ffd5cd;
}

scale trough highlight {
  background-color: $nord15;
}

scale trough {
  min-height: 30px;
  min-width: 3px;
  background-color: $nord0;
  margin-right: 10px;
}

scale.horizontal trough highlight {
  border-radius: 10px;
}

scale.horizontal trough {
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
}

.music__wrapper {
  & .metric scale trough {
    background-color: $nord0;
  }

  & .metric scale trough highlight {
    background-color: $nord15;
  }

  & .music__icon {
    color: $nord6;

    &.playing {
      background-color: $nord14;
    }

    &.paused {
      background-color: $nord13;
    }
  }
}

.icon-pill {
  border-radius: 1rem;
  background-color: $nord2;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 5px 3px;

  & .icon-pill__icon {
    padding: 0 5px 0 12px;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .metric {
    margin: 3px;
    padding: 0 5px;

    & scale {
      padding-top: 3px;
    }
  }
}

$comps: ram, cpu, volume;
@each $comp in $comps {
  .#{$comp}-wrapper {
    margin: 2px 8px 2px 2px;

    & scale trough {
      margin: 5px;
      min-height: 20px;
    }

    & .low trough highlight {
      background-color: $nord14;
    }

    & .medium trough highlight {
      background-color: $nord13;
    }

    & .high trough highlight {
      background-color: $nord12;
    }

    & .max trough highlight {
      background-color: $nord11;
    }
  }
}

.clock__wrapper label {
  margin: 2px 8px 2px 2px;
}

.window-wrapper {
    padding: 0 1rem;
}

.window-wrapper image {
  margin-right: 10px;
}

.workspace-wrapper {
  padding: 0 5px;
  color: $nord-unfocused;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.68);
}

.workspace-wrapper.visible {
  background: $nord2;
  border-bottom: 3px solid $nord5;
}

.workspace-wrapper.focused {
  background: $nord15;
  color: $nord4;
  font-weight: 600;
}

.workspace__icon-wrapper {
  padding-left: 5px;
}

menubar {
  border-radius: 1rem;
  background-color: $nord2;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 7px 3px;
  padding: 0 7px;

  & > menuitem {
    border-radius: 0.5rem;
    padding: 0 0.2rem;
  }

  & menuitem:hover {
    background: $nord3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  & menu {
    border: 2px solid $nord15;
    background: $nord0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    separator {
      border-bottom: 2px $nord2 solid;

      &:last-child {
        border-bottom: none;
      }
    }

    & menuitem {
      padding: 5px 15px;


      &:disabled {
        color: $nord-unfocused;
      }

      &:hover {
        background: $nord15;
      }

    }
  }
}

check {
  border-radius: 9999px;
  min-width: 13px;
  min-height: 13px;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 0.5rem;
  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.5);
}

check:checked {
  background: $nord15;
  box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.5);
}

menu > menuitem check:checked ~ label {
  font-weight: 600;
}

menu > menuitem label:hover ~ check:checked {
  color: $nord4;
}

tooltip {
  background-color: $nord1;
  color: $nord4;
  border-radius: 0.5rem;
}

.notifications-wrapper {
    padding: 0 10px;
}

.volume-sink.muted ,
.volume-source.muted {
  color: $nord11;
}
